@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark|Quicksand&display=swap");

$green: #398225;
$green-light: #5f9750;

$orange: #eb751f;
$orange-light: #e98A46;
$orange-dark: #c65300;

$yellow: #d4ab20;
$yellow-light: #e9c13a;
$yellow-dark: #c19500;

$red:  #d01E15;

$font-titles: "Palanquin Dark", Arial, Verdana, sans-serif;

$font-default: "Quicksand", Arial, Verdana, sans-serif;

$h1-size: 2rem; // 32px
$h2-size: 1.87rem; // 30px
$h3-size: 1.68rem; // 27px
$text-size: 1rem; // 16px

$breakpoint-xs: 0px;
$breakpoint-sm: 320px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1320px;