.achievements__container {
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  height: 70px;
  width: 100px;
}

.achievements__container--green {
  background: $green;
}

.achievements__container--orange {
  background: $orange;
}

.achievements__container--red {
  background: $red;
}

.achievements__description {
  font-weight: bold;
}

.achievements__description--green {
  color: $green;
}

.achievements__description--orange {
  color: $orange;
}

.achievements__description--red {
  color: $red;
}

.achievements__description {
  font-weight: bold;
  font-size: 1rem;

  @media (min-width: $breakpoint-lg) {
    font-size: 1.25rem;
  }
}

.achievements__image {
  display: block;
  width: 37%;
}

.achievements__item {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 50%;
  
  @media (min-width: $breakpoint-md) {
    align-self: baseline;
    width: 30%;
  }   
}

.achievements__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
 
  @media (min-width: 415px) {
    margin: 0 auto;
    max-width: 80%;
  }
}

.achievements__porcentage {
  color: $white;
  font-family: $font-titles;
  font-size: 1.37;
  font-weight: bold;
  text-align: center;
}

.achievements__icon{
  position: relative;
}

.achievements__icon::before{
  content: "";
  background-repeat: no-repeat;
  display: inline-block;
  height: 100px;
  width: 100px;
  position: relative;
}

.achievements__icon--bird::before{
  background-image: url(../images/logros/crow.png);
}

.achievements__icon--tree::before{
  background-image: url(../images/logros/arboles.png);
}

.achievements__icon--volunteer::before{
  background-image: url(../images/logros/volunteers.png);
}

