.agenda__month,
.agenda__day {
  background: $white;
  display: flex;
  font-family: $font-titles;
  font-size: 1.12rem;
  font-weight: bold;
  height: 32px;
  justify-content: center;
}

.agenda__day {
  background: #4A4A4A;
  color: $white;
  font-size: 1.43rem;
  height: 32px;
}

.agenda__date {
  border:2px solid #828282;
  margin-right: 16px;
  width: 58px;
}

li {
  display: flex;
  margin: 26px 0px;
  justify-content: start;
  list-style: none;
}




