.activity__date {
  margin-right: 16px;
}

.activity__day {
  align-items: center;
  background: #333;
  color: $white;
  display: flex;
  height: 50%;
  justify-content: center;
  width: 100%;
}  

.activity__description {
  max-width: 82%;
}

.activity__item{
  display: flex;
  justify-content: start;
  list-style: none;
  margin: 26px 0px;
}

.activity__month {
  align-items: center;
  background: $white;
  display: flex;
  height: 50%;
  justify-content: center;
  width: 100%;
}

.date__container {
  border: 2px solid #666;
  font-family: $font-titles;
  font-size: 1.12rem;
  font-weight: bold;
  height: 90px;
  width: 60px;
}  

.space-top {
  margin-top: 5px;
}
