.activity__date {
  margin-right: 16px;
}

.activity__day {
  background: #333;
  color: $white;
}  

.activity__description {
  max-width: 82%;
}

.activity__item{
  display: flex;
  justify-content: start;
  list-style: none;
  margin: 26px 0px;
}

.activity__month {
  background: $white;
}

.date__container {
  border:2px solid #666;
  width: 60px;
}  

.space-top {
  margin-top: 5px;
} 