.agenda{
  float: right;
  margin-right: 30px;
  position: relative;
  top: 5%;

  @media (min-width: $breakpoint-md) {
    &::after{
      bottom: 3px;
      background-color: #d4aa15;
      content: "";
      height: 100%;
      left: -21px;
      position: absolute;
      width: 5px;
    }
  }
}

.agenda__container{
  background: rgba(86, 146, 70, 0.849);
  padding: 40px;
  margin: 0 25px;
  
}

.agenda__item-title {
  color: $white;
  margin: 6px 0;
  margin-bottom: 11px;
}

.agenda__title{
  color: $white;
  margin: 0;
  & > span {
    display: block;
    font-family: $font-titles;
  }
}