.agenda {
  background: rgba(129, 175, 117, 0.76);
  padding: 40px;
  margin: 10%;
  margin-top: 4%;

  @media (min-width: $breakpoint-md) {
    margin: 23%;  
    margin-top: 4%;
  }
  @media (min-width: 800px) {
    margin: 26%;  
    margin-top: 4%;
    padding: 52px;
  } 
  @media (min-width: 900px) {
    margin: 24%;  
    margin-top: 4%; 
  } 
}

.agenda__title{
  color: $orange;
  text-align: center;
  margin-top: 13%;
  & > span {
    display: block;
    font-family: $font-titles;
    margin-top: 11px;
  }
  
  @media (min-width: $breakpoint-md) {
    margin-top: 8%;
  }
}

.agenda__item-title {
  color: $white;
  position: absolute;
  margin-left: 25px;
  margin-top: 1%;

  @media (min-width: $breakpoint-md) {
    font-size: $text-size;
  }
}




