.agenda {
  padding: 0 1.5rem;
}
.agenda__container {
  background: rgba(86, 146, 70, 0.849);
  margin: 0 auto;
  max-width: 460px;
  padding-bottom: 23px;
  padding-top: 17px;
  position: relative;
  width: 83%;

  @media (min-width: $breakpoint-md) {
    margin: 0 36px;
    width: 50%;
    &::after {
      background-color: $yellow;
      bottom: 1px;
      content: "";
      height: 100%;
      left: -30px;
      position: absolute;
      width: 5px;
    }  
  }
  @media (min-width: $breakpoint-lg) {
    width: 34%;
  }
  @media (min-width: $breakpoint-xl) {
    width: 28%;
  }
}

.agenda__item-title {
  color: $white;
  margin: 0;
  padding-bottom: 20px;
}

.agenda__title {
  color: $white;
  margin: 0;
}

.agenda__title--font {
  display: block;
  font-family: $font-titles;
}