.brand {
  background: transparent url("../../images/logo/logo.png") no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 61px;
  margin: 0 0 1rem 1rem;
  width: 191px;

  @media (min-width: 850px) {
    background-image: url("../../images/logo/logo2x.png");
    margin-left: 0;
  }
}