header {
  align-items: baseline;
  background-color: $green-light;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;

  @media (min-width: $breakpoint-md) {
    flex-wrap: unset;
    padding: 3rem 1rem 1.5rem;
  }
}

.main-title {
  color: white;
  font-family: $font-titles;
  font-size: 1.6rem;
  margin: 0;
  margin-right: auto;
  padding: 1rem;
  width: 50%;

  @media (min-width: $breakpoint-md) {
    font-size: $h1-size;
    width: auto;
  }
  @media (min-width: $breakpoint-lg)  {
    margin-right: 0;
  }
}