header[role="banner"] {
  background-color: $green-light;
  padding: 0;
  padding-top: 1rem;
}

.header__wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

@media (min-width: 850px) {
    width: 95%;
  }
  @media (min-width: $breakpoint-lg) {
    width: 90%;
  }
  @media (min-width: $breakpoint-xl) {
    max-width: 1440px;
    width: 80%;
  }
}