header[role="banner"] {
  background-color: $green-light;
  padding: 0;
  height: 127px;

  @media (min-width: $breakpoint-md) {
    height: 100px;
  }
  @media (min-width: $breakpoint-lg) {
    height: 95px;
  }
}

.position-header {
  background-color: $green-light;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.header__wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;

  @media (min-width: $breakpoint-lg) {
    width: 90%;
  }
  @media (min-width: $breakpoint-xl) {
    max-width: 1440px;
    width: 85%;
  }
}