.btn-menu {
  align-items: flex-end;
  align-self: center;
  background-color: transparent;
  border: 0;
  color: $white;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem 1rem 1rem .5rem;

  @media (min-width: 850px) {
    display: none;
  }
  &:before {
    background: transparent url("../images/icons/menu/menu.png") no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 15px;
    position: absolute;
    right: 65px;
    width: 15px;
  }
  .menu-open & {
    &:before {
      background-image: url("../images/icons/menu/menu-closed.png");
    }
  }
}

.btn-nav__cont {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;

  @media (min-width: 850px) {
    justify-content: space-evenly;
    width: 48%;
  }
}

.btn-nav__item {
  list-style: none;
  text-align: center;
  width: 50%;

  @media (min-width: 850px) {
    align-self: end;
    display: flex;
    width: 130px;
  }
  @media (min-width: 900px) {
    width: 150px;
  }
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $breakpoint-md)  {
    align-items: center;
  }
  @media (min-width: 850px) {
    flex-wrap: nowrap;
    width: 80%;
  }
}

.main-nav__cont {
  align-items: center;
  display: none;
  margin: 0;
  padding: 0;

  @media (min-width: 850px) {
    display: flex;
    justify-content: space-evenly;
    width: 52%;
  }
  @media (min-width: $breakpoint-lg)  {
    width: 57%;
  }

  .menu-open & {
    display: block;
    width: 100%;
    @media (min-width: 850px) {
      display: inherit;
    }
  }
}

.main-nav__item {
  list-style: none;
  text-align: center;

  @media (min-width: 850px) {
    position: relative;
    width: auto;
  }

  &:hover {
    .main-nav__link {
      background-color: #73A068;
    }
    @media (min-width: 850px) {
      .main-nav__link {
        background: rgba(37, 37, 37, .1);
      }
      .sub-nav {
        display: block;
      }
    }
  }
}

.main-nav__item--programs {
  @media (min-width: 850px) {
    height: 90px;
    top: 20px;
  }
}

.main-nav__item--about {
  @media (min-width: 850px) {
    width: 77px;
  }
  @media (min-width: $breakpoint-xl) {
    width: auto;
  }
}

.main-nav__link {
  background-color: $palegreen;
  border-top: 1px solid #86b87a;
  color: $white;
  display: block;
  font-weight: bolder;
  text-decoration: none;
  padding: 1rem;


  @media (min-width: 850px) {
    background-color: $green-light;
    border-top: none;
    display: block;
    padding: 1rem 0;
  }
  @media (min-width: $breakpoint-lg) {
    display: block;
    padding: 1rem 0;
  }
}

.sub-nav {
  left: 0px;
  padding: 0;

  @media (min-width: 850px)  {
    display: none;
    left: -50px;
    position: absolute;
    top: 71px;
    width: 190px;
    z-index: 1;
  }
}

.sub-nav__item {
  background-color: $palegreen;
  list-style: none;
  padding: .5rem 1rem;

  &:hover {
    background-color: #73A068;
    .sub-nav__link {
      color: $white;
    }
  }
  @media (min-width: 850px) {
    border-top: 1px solid #86b87a;
  }
}

.sub-nav__link {
  color: #ecf1eb;
  font-size: 14px;
  text-decoration: none;

  @media (min-width: 850px) {
    font-size: $text-size;
  }
}