.btn-menu {
  &:before {
    background: transparent url("../images/icons/menu/menu.svg") no-repeat;
    background-size: cover;
    content: '';
    display: block;
    position: absolute;
    right: 60px;
    height: 15px;
    width: 15px;
  }
  align-items: flex-end;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  font-weight: bold;

  .menu-open & {
    &:before {
      background-image: url("../images/icons/menu/menu-closed.svg");
    }
  }
  
  @media (min-width: $breakpoint-md) {
    display: none;
  }

}

.btn-nav__cont {
  display: flex;
  margin: 0;
  padding: 0;

  @media (min-width: 0) and (max-width:768px) {
    width: 100%;
  }
  @media (min-width: $breakpoint-md) {
    justify-content: space-evenly;
    padding-bottom: 1rem;
  }
}

.btn-nav__item {
  &:hover {
    background-color: #73A068;
    @media (min-width: 0) and (max-width:768px) {
      .sub-nav {
        background-color: $green-light;
      }
    }
  }
  list-style: none;
  position: relative;
  text-align: center;

  @media (min-width: 0) and (max-width:768px) {
    width: 50%;
  }
  @media (min-width: $breakpoint-md) {

    &:hover {
      .sub-nav {
        display: block;
      }   
    }
    align-self: end;
    display: flex;
    margin: 0 0.3rem;
  }
  @media (min-width: $breakpoint-lg) {
    margin: 0 0.8rem;
  }
  @media (min-width: $breakpoint-xl) {
    margin: 0 1rem;
  }
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    width: auto;
    flex-wrap: nowrap;
  }
}

.main-nav__cont {
  display: none;
  margin: 0;
  padding: 0;

  @media (min-width: 0) and (max-width:768px) {
    .menu-open & {
      display: block;
      width: 100%;
    }
  }
  @media (min-width: $breakpoint-md) {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
  }
}

.main-nav__item {
  &:hover {
    background-color: #73A068;

    @media (min-width: 0) and (max-width:768px) {
      .sub-nav {
        background-color: $green-light;
      }
    }
  }
  list-style: none;
  margin: 1.5rem;
  padding: 0.2rem 0 0;
  position: relative;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    &:hover {
      .sub-nav {
        display: block;
      }   
    }
    align-self: baseline;
    display: flex;
    margin: 0 0.3rem;
    padding: 1.2rem 1rem 1rem;
  }
  @media (min-width: $breakpoint-lg) {
    margin: 0 0.8rem;
  }
  @media (min-width: $breakpoint-xl) {
    margin: 0 1rem;
  }
}

.main-nav__item--space-top {
  padding: 1rem 0;
}

.main-nav__link {
  &:hover {
    display: block;
  }
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

.sub-nav {
  left: 0px;
  margin-top: 1.4rem;
  padding: 0;

  @media (min-width: $breakpoint-md)  {
    background-color: #81AF75;
    display: none;
    margin-top: 2rem;
    position: absolute;
  }
}

.sub-nav__item {
  &:hover {
    background-color: #73A068;
  }
  list-style: none;
  padding: 0.5rem 1rem;

  @media (min-width: $breakpoint-md)  {
    &:hover {
      background: rgba(37, 37, 37, 0.129);
    }
  }
}

.sub-nav__link {
  color: white;
  font-size: 14px;
  text-decoration: none;

  @media (min-width: $breakpoint-md)  {
    font-size: $text-size;
  }
}