.btn-menu {
  align-items: flex-end;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  font-weight: bold;

  &:before {
    background: transparent url("../images/icons/menu/menu.svg") no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 22px;
    width: 22px;
  }

  .menu-open & {
    &:before {
      background-image: url("../images/icons/menu/menu-closed.svg");
    }
  }

  @media (min-width: $breakpoint-md) {
    display: none;
  }
}

.main-nav__cont {
  display: none;
  margin: 0;
  padding: 0;

  @media (max-width: $breakpoint-md + 1) {
    .menu-open & {
      display: block;
    }
  }
  @media (min-width: $breakpoint-md) {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1rem;
  }
}

.main-nav__item {
  list-style: none;
  margin: 1.5rem;
  padding: 1.2rem 1rem;
  position: relative;
  text-align: center;

  @media (min-width: $breakpoint-md) {
    &:hover {
      .sub-nav {
        display: block;
      }   
    }
    align-self: baseline;
    display: flex;
    margin: 0 0.3rem;
    padding: 1.2rem 1rem 0;
  }
  @media (min-width: $breakpoint-lg) {
    padding: 1.8rem 0;
    margin: 0 0.8rem;
  }
  @media (min-width: $breakpoint-xl) {
    padding: 2rem 0;
    margin: 0 1rem;
  }
}

.main-nav__link {
  color: white;
  text-decoration: none;
}

.sub-nav {
  background-color: #81AF75;
  display: none;
  left: -16px;
  margin-top: 3rem;
  padding: 0;


  @media (min-width: $breakpoint-md)  {
    position: absolute;
    
    .menu-open & {
      display: block; 
    }
  }

  @media (max-width: $breakpoint-lg)  {
    margin-top: 1.4rem;
  }
}

.sub-nav__item {
  list-style: none;
  padding: 0.5rem 1rem;
  
  &:hover {
    background: #25252552;
  }
}

.sub-nav__link {
  color: white;
  text-decoration: none;
}

li.menu-open > ul {

  @media (max-width: $breakpoint-md)  {
    display: block;
  }
}