.pgcs {
  padding: 5px;

	h2 {
		margin: 30px 0;
	}

	.cegea__img {
		margin: 20px auto;
	}

	.investigation__wrapper-card {
		padding: 10px;
	}
}

.pgcs-offer {
	align-items: center;
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
}

.descrip__container {
	background-color: $orange-light;
	box-shadow: 10px 4px 35px rgba(0, 0, 0, 0.25);
	color: #fff;
	display: flex;
	font-size: 1.25rem;
	font-weight: 600;
	justify-content: center;
	margin: 13px;
	max-width: 68%;
	padding: 14px 0;
	text-align: center;
	width: 100%;
}

.pgcs-offer__descrip {
	margin: 0;
	align-self: center;
}

.stanndard-list--pgcs {
	padding: 10px;

	@media (min-width: $breakpoint-md) {
		padding: 20px;
	}

	li {
		margin: 20px 0;
	}
}

.pgcs-offer__img {
  max-width: 68%;
}

.pgcs-offer__arrow {
	display: block;
	margin: 10px;
	width: 7%;
}

.pgcs-offer__item {
	align-items: center;
	display: flex;
	flex-direction: column;

	@media (min-width: $breakpoint-md) {
		flex-direction: row;
	}
}

.btn--moreinfo {
	margin-left: 15px;
}

.main-actions--pgcs {
	margin: 30px 0;
}

.main-actions__circle--enviroment {
  background: $green-light;
}

.main-actions__type--enviroment {
  background:$green-lighter;
}

.main-actions__type--water {
  background:$yellow-light;
}

.main-actions__circle--water {
  background: $paleyellow;
}

.main-actions__circle--earth {
  background: $orange;
}

.main-actions__type--earth {
  background: $paleorange;
}

.information__title {
	font-weight: bolder;
	color: #EB751F; 
}

.information__title {
	margin:  40px 0;
}