.projects__cont {
  list-style: none;
  margin: 0 auto;
  padding: 15px 0 0;
  width: 90%;

  @media (min-width: $breakpoint-md) {
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.project__img {
  display: block;
  filter: brightness(0.65);
  height: auto;
  max-width: 100%;

  & img {
    max-width: 100%;
    height: 100%;
  }
}

.projects__item {
  margin-bottom: 25px;
  position: relative;
  transform: scale(1);
  transition: 0.3s ease-in-out;

  &:hover {
    @media (min-width: $breakpoint-md) {
      transform: scale(1.07);
    }
  }
  &:first-child {
    width: 100%;
    @media (min-width: $breakpoint-md) {
      width: 55%;
    }
  }
  
  &:nth-child(2n) {
    width: 100%;
    @media (min-width: $breakpoint-md) {
      width: 42%;
    }
  }
  &:nth-child(3n) {
    width: 100%;
    @media (min-width: $breakpoint-md) {
      width: 42%;
    }
  }
  &:nth-child(4n) {
    width: 100%;
    @media (min-width: $breakpoint-md) {
      width: 55%;
    }
  }
  &:nth-child(5n) {
    width: 100%;
  }
  @media (min-width: $breakpoint-md) {
    height: 30vw;
    margin-bottom: 3%;
  }
  @media (min-width: $breakpoint-lg) {
    height: 20vw;
  }
  @media (min-width: $breakpoint-xl) {
    height: 15vw;
  }
}

.projects__link {
  display: flex;
  height: 100%;
  justify-content: center;
  text-decoration: none;
  width: 100%;

}

.projects__title {
  color: $orange;
  text-align: center;
 
  @media (min-width: $breakpoint-md) {
    font-size: $h2-size;
  }
}

.projects__title--font {
  display: block;
  font-family: $font-titles;
  margin-top: 5px;
}

.projects__title-item {
  color: $white;
  font-family: $font-titles;
  font-size: 1.52rem;
  font-weight: bold;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 40vw;
  width: 100%;

  @media (min-width: 600px) {
    top: 30vw;
  }
  @media (min-width: $breakpoint-md) {
    font-size: $h3-size;
    top: 23vw;
  }
  @media (min-width: $breakpoint-lg) {
    top: 15vw;
  }
  @media (min-width: $breakpoint-xl) {
    top: 11vw;
  }
}