@mixin  project {
  background-size: contain;
  
  @media (min-width: $breakpoint-md) {
    background-size: cover;
		box-shadow: inset 0 0 0 100vw #0004;
  }
}
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}