.btn {
  color: $white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.btn--moreinfo {
  background: $yellow;
  border-radius: 6px;
  color: $white;
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
  text-decoration: none; 
  &:hover {
    background-color: $yellow-dark;
  }
}

.btn--donate {
  background-color: $orange;
  display: block;
  height: 100%;
  padding: 1rem 0;
  width: 100%;

  @media (min-width: 850px) {
    padding: 1rem;
  }
  &:hover {
    background-color: $orange-dark; 
  }
}

.btn--volunteer {
  background-color: $yellow;
  display: block;
  height: 100%;
  padding: 1rem 0;
  width: 100%;

  @media (min-width: 850px) {
    padding: 1rem;
  }
  &:hover {
    background-color: $yellow-dark;
  }
}