.btn {
  color: $white;
  padding: 1.5rem;
  text-align: center;
  text-decoration: none;
  width: 150px;
}

.btn--donate {
  background-color: $orange;

  @media (min-width: $breakpoint-lg) {
    margin: 10px;
  }
}

.btn--vol {
  background-color: $yellow;
}