.main-actions__cards {
  margin: 0 auto;
  position: relative;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    width: 45%;
  }

  @media (min-width: $breakpoint-lg) {
    width: 30%;
  }
}

.main-actions__circle {
  background: gray;
  border-radius: 50%;
  box-shadow: 10px 4px 35px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 20px;
  position: relative;
  top: 50px;
  width: 150px;

  img {
    max-width: 100%;
  }
}

.main-actions__type {
  align-items: center;
  background: $dark-grey;
  box-shadow: 10px 4px 35px rgba(0, 0, 0, 0.25);
  display: flex;
  height: 170px;
  justify-content: center;
  text-align: center;
  width: 100%;
  
  h2 {
    color: white;
    margin: 0;
    width: 80%;
  }
}