@import url("https://fonts.googleapis.com/css?family=Palanquin+Dark|Quicksand&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Quicksand", Arial, Verdana, sans-serif; }

h1,
h3 {
  font-family: "Palanquin Dark", Arial, Verdana, sans-serif; }

p, span {
  font-family: "Quicksand", Arial, Verdana, sans-serif; }

header {
  background-color: #5f9750;
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem 2rem; }
  @media (min-width: 768px) {
    header {
      padding: 4rem 1.8rem 3rem 3rem; } }

.main-title {
  color: white;
  font-family: "Palanquin Dark", Arial, Verdana, sans-serif;
  font-size: 1.6rem; }
  @media (min-width: 768px) {
    .main-title {
      font-size: 2rem; } }

.cont-btn {
  display: block;
  float: right;
  height: 23px;
  margin-top: 1rem;
  width: 23px; }
  @media (min-width: 768px) {
    .cont-btn {
      display: none; } }

.btn-menu {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold; }
  .btn-menu:before {
    background: transparent url("../images/icons/menu/menu.svg") no-repeat;
    background-size: cover;
    content: '';
    display: block;
    height: 22px;
    width: 22px; }
  .menu-open .btn-menu:before {
    background-image: url("../images/icons/menu/menu-closed.svg"); }
  @media (min-width: 768px) {
    .btn-menu {
      display: none; } }

.main-nav__cont {
  display: none;
  margin: 0;
  padding: 0; }
  .menu-open .main-nav__cont {
    display: block; }
  @media (min-width: 768px) {
    .main-nav__cont {
      display: flex;
      justify-content: space-evenly; } }

.main-nav__item {
  list-style: none;
  margin: 1.5rem;
  padding: 1.2rem 1rem;
  text-align: center; }
  @media (min-width: 768px) {
    .main-nav__item {
      align-self: baseline;
      display: flex;
      margin: 0 0.3rem;
      padding: 1.2rem 1rem 0; } }
  @media (min-width: 1024px) {
    .main-nav__item {
      padding: 1.8rem 0;
      margin: 0 0.8rem; } }
  @media (min-width: 1440px) {
    .main-nav__item {
      padding: 2rem 0;
      margin: 0 1rem; } }

.main-nav__link--donate {
  background-color: #eb751f;
  padding: 1.5rem; }

.main-nav__link--vol {
  background-color: #d4ab20;
  padding: 1.5rem; }

.main-nav__link {
  color: white;
  text-decoration: none; }

.agenda {
  background: rgba(129, 175, 117, 0.76);
  opacity: 1.1;
  padding: 40px;
  margin: 10%; }
  @media (min-width: 768px) {
    .agenda {
      margin: 18%;
      position: relative;
      top: -84px; } }
  @media (min-width: 680px) {
    .agenda {
      margin: 19%;
      padding: 44px; } }
  @media (min-width: 800px) {
    .agenda {
      margin: 26%;
      padding: 52px;
      position: relative;
      top: -159px; } }
  @media (min-width: 1024px) {
    .agenda {
      display: none; } }

@media (min-width: 1024px) {
  .agenda__content {
    margin-top: 17px; } }

.agenda-first_title {
  font-weight: lighter; }

.agenda-first__title,
.agenda-second__title {
  color: #eb751f;
  display: flex;
  justify-content: center; }
  @media (min-width: 1024px) {
    .agenda-first__title,
    .agenda-second__title {
      display: none; } }

.first__title--styles {
  font-family: "Quicksand", Arial, Verdana, sans-serif;
  position: relative;
  top: 6px; }

@media (min-width: 1024px) {
  .hero__title--position {
    display: block;
    color: #ffffff; } }

.second__title--font {
  font-family: "Palanquin Dark", Arial, Verdana, sans-serif; }
  @media (min-width: 1024px) {
    .second__title--font {
      color: #ffffff; } }

.agenda__heroimage {
  display: none; }
  .agenda__heroimage::after {
    background-color: #d4aa15;
    bottom: -17px;
    content: "";
    display: block;
    height: 107%;
    position: absolute;
    right: 111%;
    width: 6px; }
  @media (min-width: 1024px) {
    .agenda__heroimage {
      background: rgba(86, 146, 70, 0.88);
      display: block;
      float: right;
      height: 417.23px;
      left: -44px;
      padding: 43px;
      position: relative;
      top: 172px;
      width: 254.24px; } }

.activity__info {
  position: relative;
  top: -26px; }

.agenda__buttons--styles {
  background: #d4ab20;
  border-radius: 6px;
  color: #ffffff;
  font-family: "Quicksand", Arial, Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 6px;
  text-decoration: none;
  margin-left: 69px; }

.agenda__item-title {
  color: #ffffff;
  left: 161px;
  position: absolute; }
  @media (min-width: 768px) {
    .agenda__item-title {
      font-size: 17px;
      left: 124px; } }
  @media (min-width: 1024px) {
    .agenda__item-title {
      font-size: 17px;
      left: 108px; } }

.agenda__month,
.agenda__day {
  background: #ffffff;
  font-family: "Palanquin Dark", Arial, Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  height: 32px;
  justify-content: center; }

.agenda__day {
  background: #4A4A4A;
  color: #ffffff;
  font-size: 23px;
  height: 32px; }

.date__activity {
  position: relative;
  top: -5px; }

.event__date {
  border: 2px solid #828282;
  display: block;
  width: 56px; }

.hero_image {
  background-image: url("../../images/heroimage/laguna2x.jpg");
  background-size: cover;
  height: 42vh;
  width: 100%; }
  @media (min-width: 560px) {
    .hero_image {
      height: 67vh; } }
  @media (min-width: 768px) {
    .hero_image {
      height: 90vh; } }
  @media (min-width: 1024px) {
    .hero_image {
      height: 113vh; } }
  @media (min-width: 1440px) {
    .hero_image {
      height: 134vh; } }

li {
  list-style: none; }

.main__title {
  position: relative;
  top: 37px; }

.more__activities {
  bottom: -13px;
  position: relative;
  right: 66px; }

.more__activities--mgtop {
  margin-top: 20px; }
