* {
  box-sizing: border-box;
}

body {
  font-family: $font-default;
}

// tomado de: https://stackoverflow.com/questions/19758598/what-is-sr-only-in-bootstrap-3
.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrapper {
  margin: 30px auto;

  @media (min-width: $breakpoint-md) {
  margin-bottom: 60px;
  margin-top: 60px;
  }
  @media (min-width: $breakpoint-lg) {
    margin-bottom: 60px;
    margin-top: 60px;
    max-width: 1440px;
  }
}
